.body {
    background-color: #D7E2F1;
}
.matField {
    margin-left: 15px;
}
.btnGroup {
    margin-top: 10px;
}
.rowdiv {
    margin-top: 53px;
}
.informe-de-productiv {
    color: #000000;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    width: 337px;
    text-align: left; 
}
.selec {
    color: #000000;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    width: 166px;
    text-align: left;
}
.opciones {
    color: #000000;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    width: 128.44px;
    text-align: left;
}
.rectangle-15-copy {
    background-color: #FFFFFF;
    border: 2px solid #4D648D;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.29);
    width: 170px;
    height: 39px;
}
.btnlabel {
    color: #4D648D;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    width: 138.31px;
    text-align: center;
}
.button-label {
    color: #4D648D;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-align: center;
    border: 2px solid #4D648D;
}
.rectah6 {
    color: #242424;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    width: 170px;
    text-align: left;
}
.btnrec {
    background-color: #4D648D;
    width: 18px;
    height: 18px;
}
.mat-dialog-container {
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    background: #fff !important;
    color: rgb(0, 0, 0) !important;
}
table {
    width: 100% !important;
}
h1{
    color: #000000;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    width: 867px;
    text-align: center;
}
.cabecera {
    color: #333333;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    width: 92.35px;
    text-align: left;
}
.dato{
    color: #333333;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    width: 156.18px;
    text-align: left;
}
hr {
    border: 1px solid #DFDFDF;
}
.btnCe {
    background-color: #FFFFFF;
    border: 2px solid #4D648D;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.29);
    width: 147px;
    height: 39px;
}
.btnModal {
    background-color: #4D648D;
    border: 1px solid #79869A;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.29);
    width: 180px;
    height: 39px;
    margin-left: 15px;
}
.btnLabel {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    width: 138.31px;
    text-align: center;
}
.btnCerrar {
    background-color: #FFFFFF !important;
    border: 1px solid #4D648D !important;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    float: right;
}
.glyphicon-remove:before {
    color:  #4D648D;
}
.navHeader {
    background-color: #4D648D;
}
.navbar-default .navbar-nav > li > a {
    color: #fff !important;
}
.navbar-default .navbar-brand {
    color: #fff !important;
}
.search {
    background-color: #FFFFFF;
    border: 1px solid #B8CDEB;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.03);
    width: 186px;
    height: 32px;
}